*{
  margin:0px;
}

.app{
  background-color:#fafafa;
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  /* width: 30px;
  height: 3px;*/
  }
.app__headerImage{
  /* border: 2px solid red; */
  width: 110px;
    height: 30px;
object-fit: contain;
/*keep aspect ratio as-it-is no matter how much header gets bigger or smaller in size but the logo shouldn't get stretched */
}

.app__signup{
  display: flex;
  flex-direction: column;
  
}

.app__posts{
  padding: 20px;
  display: flex;
}

.app__postsRight{
  margin-left: 20px;
}